// colors
$primary: plum; // example
$secondary: lime; // example
$accent: cyan; // example
$white: #fff;
$black: #000;

// indents
$padding-x: 20px;
$padding-x-tablet: 30px;
$padding-x-tablet-landscape: 50px;
$indent: 20px;
$indent-small: 10px;

// borders
$br-default: 8px; // example

// fonts
$base-font: 'font-family: Arial, Helvetica, sans-serif'; // example

// media
$mobile-only: 779px;
$tablet: 768px;
$tablet-landscape: 1080px;
$desktop: 1440px;
