@use '@/scss/global' as *;

.wrapper {
  min-width: 390px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $padding-x;
  box-sizing: border-box;
  max-width: 1440px;

  @include vp-tablet {
    padding: 0 $padding-x-tablet;
  }

  @include vp-tablet-landscape {
    padding: 0 $padding-x-tablet-landscape;
  }
}
